
<h1 class="allignh">GENERATE NEW PASSWORD</h1>
<form [formGroup]="generatePassword" (ngSubmit)="onSubmit()">

  <div fxLayout>
    <mat-form-field class="alignfield">
      <mat-label>Website Name</mat-label>
      <input matInput placeholder="www.google.com" formControlName="websitename">
    </mat-form-field>
    <button mat-raised-button color="primary" class="alignbutton">Generate</button>
   </div>
  </form>
  <h1 *ngIf="obtained" class="generatedPassword">{{obtainedPassword}}</h1>

  <div fxLayout fxLayoutGap="20px" class="alignsbutton" *ngIf="obtained">
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  <button mat-raised-button color="primary">Cancel</button>
  </div>