.alignfield{
 
    margin-top: 4%;
    margin-left: 20%;
    width: 50%;
}


.alignbutton
{
    height: 20%;
    margin-top: 5%;
    margin-left: 4%;
}

.generatedPassword{
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 40%;
    background-color: gray;
    height: 22%;
    width: 50%;
    text-align: center;
    padding-top: 8%;
    color: honeydew;
}
.alignsbutton{

margin-top: 4%;
margin-left: 20%;
}
.allignh{
    margin-left: 30%;
    margin-top: 3%;
}