<mat-toolbar>
    <mat-toolbar-row>
    <div fxLayout="row" fxLayoutGap="1200px">
     <!-- <i class="material-icons"> dns</i>
     <p fxFlex>Foodie</p>
     <i class="material-icons" (click)="onClick()">perm_contact_calendar</i> -->
         <div fxLayout="row" fxLayoutGap="50px">
              <a routerLink="/login" *ngIf="!isLogin">Login</a>
              <a routerLink="/password"  *ngIf="isLogin">Password</a>
              <a routerLink="/allcompany"  *ngIf="isLogin">List</a>
              <a *ngIf="isLogin" (click)=onLogout()>Logout</a>
         </div>
    
    </div>
    </mat-toolbar-row>
</mat-toolbar>
