<mat-toolbar>
    <mat-toolbar-row>
    <div fxLayout="row" fxLayoutGap="1200px">
     <!-- <i class="material-icons"> dns</i>
     <p fxFlex>Foodie</p>
     <i class="material-icons" (click)="onClick()">perm_contact_calendar</i> -->
         <div fxLayout="row" fxLayoutGap="50px">
              <a routerLink="/login">Login</a>
              <a routerLink="/password">Password</a>
              <a routerLink="/allcompany">List</a>
         </div>
    
    </div>
    </mat-toolbar-row>
</mat-toolbar>
